<!doctype html>
<html>
	<head>
		<mete charset="utf-8">
		<title>Hello World</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	</head>
	<body>
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-md-12"></div>
			<div class="jumbotron">
 			 <center><h1>Python部落论坛</h1></center>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-10 col-md-10">
				<div class="panel panel-default">
  					<div class="panel-heading">
 					   <a href="#" style="font-size:16px">运维专区</a>
 					   <span class="pull-right">李亮</span>
 					 </div>
 				 <div class="panel-body">
						运维的先关资料都在这里
	  			 </div>
			   </div>

			   	<div class="panel panel-default">
  					<div class="panel-heading">
 					   <a href="#" style="font-size:16px">运维专区</a>
 					 </div>
 				 <div class="panel-body">
						运维的先关资料都在这里
	  			 </div>
			   </div>

			   	<div class="panel panel-default">
  					<div class="panel-heading">
 					   <a href="#" style="font-size:16px">运维专区</a>
 					 </div>
 				 <div class="panel-body">
						运维的先关资料都在这里
	  			 </div>
			   </div>


			</div>
			<div class="col-xs-2 col-md-2">
               <div class="well">个人中心</div>
            </div>
		 </div>

	 </div>
	</body>
</html>